:root {
    --primary-color: #4A4F87;
    --window-color: #fff;
    --background-color: #E5F0FF;
    --active-background-color: #437e59;
    --button-default-color: #97BDF4;
    --input-placeholder-color: #97BDF4;
    --label-color: #97BDF4;
    --filter-color: #97BDF4;
    --default-box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.5) inset, 3px 3px 12px rgba(74, 79, 135, 0.3) inset;
    --base-transition: 0.3s;
}
[data-theme="dark"] {
    --primary-color: #E5F0FF;
    --window-color: #1A1A1A;
    --background-color: #29384D;
    --active-background-color: #a4dcb6;
    --button-default-color: #29384D;
    --input-placeholder-color: #E5F0FF;
    --label-color: #4A4F87;
    --filter-color: #4A4F87;
    --default-box-shadow: -2px -2px 7px rgba(52, 52, 52, 0.5) inset, 3px 3px 12px rgba(0, 0, 0, 0.5) inset;
}
body {
    font-family: "Raleway", sans-serif;
    background-color: var(--window-color);
    transition: background-color var(--base-transition);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 8% 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    transition: background-color var(--base-transition);
}
.theme-toggle-container {
    position: relative;
    display: inline-block;
}
.theme-toggle-button{
    position: relative;
    cursor: pointer;
    width: 36px;
    height: 20px;
    border-radius: 14px;
    border: none;
    background-color: var(--active-background-color);
    box-shadow: -3px -1px 3px rgba(255, 255, 255, 0.5) inset, 3px 3px 4px rgba(22, 47, 30, 0.6) inset;
    transition: background-color var(--base-transition);
}
.theme-toggle-button::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 18px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15) inset, 1px 0 2px rgba(0, 0, 0, 0.25);
    transition: left var(--base-transition);
}
[data-theme="dark"] .theme-toggle-button::after {
    left: 2px;
}
.tooltip-message {
    position: absolute;
    width: 140px;
    bottom: -150%;
    left: 0;
    padding: 5px 5px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    font-size: 10px;
    background-color: var(--background-color);
    color: var(--primary-color);
    transform: translateX(-50%);
    transition: opacity var(--base-transition) ease, transform var(--base-transition) ease;
}
.theme-toggle-container:hover .tooltip-message {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-10px);
}
.task-form {
    max-width: 860px;
    min-height: 50px;
    margin: 0 auto 30px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.input {
    min-height: 50px;
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    background-color: var(--window-color);
    box-shadow: var(--default-box-shadow);
    transition: background-color var(--base-transition);
}
.input::placeholder {
    font-family: "Raleway", sans-serif;
    color: var(--input-placeholder-color);
}
.task-form__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.task-form__title-text {
    width: 100%;
    flex-grow: 1;
}
.task-form__title-limit {
    padding-left: 25px;
}
.task-form__title-limit._limit{
    color: var(--primary-color);
}
.task-form__body {
    flex-grow: 15;
}
.task-form__body::-webkit-scrollbar {
    width: 0;
}
.task-form__button {
    height: 50px;
    padding: 13px 33px;
    flex-grow: 1;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    background-color: var(--button-default-color);
    transition: background-color var(--base-transition);
}
.task-form__button:active {
    background-color: var(--active-background-color);
}
.task-form__button_mobile {
    display: none;
}
.main__filter {
    margin: 0 0 30px;
    display: flex;
    justify-content: space-between;
}
.filter {
    display: flex;
    gap: 15px;
}
.filter__list {
    display: flex;
    align-items: center;
    gap: 15px;
}
.filter__item._hidden {
    display: none;
}
.filter__link {
    color: var(--filter-color);
    transition: color var(--base-transition);
}
.filter__link:hover,
.filter__link._active {
    color: var(--primary-color);
}
.filter__icon {
    position: relative;
    cursor: pointer;
    width: 20px;
}
.line {
    position: absolute;
    left: -2px;
    width: 14px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--primary-color);
    transition: transform var(--base-transition);
}
.top-line {
    top: 4px;
    transform: rotate(135deg);
}
.bottom-line {
    top: 13px;
    transform: rotate(-135deg);
}
.filter__icon._active .top-line {
    transform: rotate(45deg);
}
.filter__icon._active .bottom-line {
    transform: rotate(-45deg);
}
.counter {
    transition: color var(--base-transition);
}
.main__tasks {
    width: 100%;
    margin: 0 0 30px;
    column-width: 235px;
    column-gap: 20px;
}
.main__tasks_card {
    transition: background-color var(--base-transition);
}
.main__tasks_card._completed {
    background-color: var(--active-background-color);
}
.main__tasks_card._completed .card__label_title,
.main__tasks_card._completed .card__body_text{
    color: white;
}
.main__tasks_card._deleted {
    display: none;
}
.card {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    word-wrap: break-word;
    background-color: var(--background-color);
}
.card__label {
    display: flex;
    justify-content: space-between;
}
.card__body_text {
    white-space: pre-wrap;
}

@media (max-width: 800px) {
    .container {
        padding: 10px 6% 10px;
    }
    .task-form {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
    }
    .input {
        min-height: 40px;
    }
    .task-form__body {
        grid-column: span 2;
    }
    .task-form__button {
        height: 46px;
        padding: 8px 12px;
        grid-row: 1;
        grid-column: 2;
    }
    .filter__list {
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
    }
    .line {
        top: 8px;
    }
    .top-line {
        left: -1px;
        transform: rotate(45deg);
    }
    .bottom-line {
        left: 8px;
        transform: rotate(135deg);
    }
    .filter__icon._active .top-line {
        transform: rotate(-45deg);
    }
    .filter__icon._active .bottom-line {
        transform: rotate(225deg);
    }
}

@media (max-width: 500px) {
    .task-form {
        grid-template-columns: 1fr auto;
    }
    .task-form__button_desktop {
        display: none;
    }
    .task-form__button_mobile {
        display: block;
    }
}